In [595]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import spacy
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.base import TransformerMixin
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from spacy.lang.en.stop_words import STOP_WORDS
from collections import Counter
from sklearn.preprocessing import MultiLabelBinarizer

In [596]:
df = pd.read_csv('data.csv')
nlp = spacy.load("en_core_web_sm")

df_pos = df[df.Sentiment == 'positive']

df_neu = df[df.Sentiment == 'neutral']

df_neg = df[df.Sentiment == 'negative']

In [600]:
df_neg["neg"] = df_neg.Sentence.apply(lambda text: " "
        .join(token.lemma_ for token in nlp(text) if
              not token.is_punct
              and not token.is_stop))
neg_words = df_neg["neg"]
neg_words = neg_words.to_string()
vectorizer = CountVectorizer()
matrix = vectorizer.fit_transform([neg_words])

counts_df = pd.DataFrame(matrix.toarray(), columns=vectorizer.get_feature_names())
counts_df.T.sort_values(by=0, ascending=False).head(20)

/var/folders/41/b74_rbhd2qd8p2nh3z36ttdw0000gn/T/ipykernel_84481/728564529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_neg["neg"] = df_neg.Sentence.apply(lambda text: " "

            0
eur       165
profit    105
mn         97
finnish    84
sale       73
operate    59
fall       56
loss       54
company    54
share      53
net        48
total      47
decrease   45
2009       36
price      35
short      35
year       32
low        30
say        29
quarter    25

In [604]:
df_neu["neu"] = df_neu.Sentence.apply(lambda text: " "
        .join(token.lemma_ for token in nlp(text) if
              not token.is_punct
              and not token.is_stop))
neu_words = df_neu["neu"]
neu_words = neu_words.to_string()
vectorizer = CountVectorizer()
matrix = vectorizer.fit_transform([neu_words])

counts_df = pd.DataFrame(matrix.toarray(), columns=vectorizer.get_feature_names())
counts_df.T.sort_values(by=0, ascending=False).head(20)

/var/folders/41/b74_rbhd2qd8p2nh3z36ttdw0000gn/T/ipykernel_84481/503147893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_neu["neu"] = df_neu.Sentence.apply(lambda text: " "

            0
company   343
eur       296
finnish   204
sale      183
share     166
say       132
profit    130
net       130
total     129
mn        124
new       114
include   113
group     112
finland   103
operate    95
million    87
business   84
market     81
2009       81
value      80

In [599]:
df_pos["pos"] = df_pos.Sentence.apply(lambda text: " "
        .join(token.lemma_ for token in nlp(text) if
              not token.is_punct
              and not token.is_stop))
pos_words = df_pos["pos"]
pos_words = pos_words.to_string()
vectorizer = CountVectorizer()
matrix = vectorizer.fit_transform([pos_words])

counts_df = pd.DataFrame(matrix.toarray(), columns=vectorizer.get_feature_names())
counts_df.T.sort_values(by=0, ascending=False).head(20)

/var/folders/41/b74_rbhd2qd8p2nh3z36ttdw0000gn/T/ipykernel_84481/3983550558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pos["pos"] = df_pos.Sentence.apply(lambda text: " "

            0
eur       230
sale      158
finnish   155
profit    144
company   130
mn        117
net       111
increase  102
year       90
rise       83
share      79
say        75
operate    75
long       72
buy        66
group      66
new        61
co         54
high       52
2010       52